@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scroll bar */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Scroll bar thumb color */
  border-radius: 10px; /* Roundness of the scroll bar thumb */
  border: 2px solid #f1f1f1; /* Border color */
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scroll bar thumb hover color */
}

.customScrollBar {
  overflow-y: scroll;
}

.customScrollBarX {
  overflow-x: scroll;
}

.customScrollBar::-webkit-scrollbar,
.customScrollBarX::-webkit-scrollbar {
  width: 12px;
}

.customScrollBar::-webkit-scrollbar-track,
.customScrollBarX::-webkit-scrollbar {
  background: #f1f1f1;
}

.customScrollBar::-webkit-scrollbar-thumb,
.customScrollBarX::-webkit-scrollbar {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.customScrollBar::-webkit-scrollbar-thumb:hover,
.customScrollBarX::-webkit-scrollbar {
  background: #555;
}

.logo {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

body {
  @apply bg-gray-100;
}

@layer base {
  html {
    /* font-family: "Rubik", sans-serif; */
    font-family: "Roboto", sans-serif;
    /* font-family: "Open Sans", sans-serif; */
    /* font-family: "Poppins", sans-serif; */
  }
}
